<h1>I put my hand upon your hip</h1>
<h2>When I dip you dip we dip</h2>
<h1>You put your hip upon my hip</h1>
<h2>When you dip I dip we dip</h2>

<h3>You put yours and I put mine
And we can get down low
And roll it round</h3>